footer{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.footerIlustrado{
    height: 5px;
    border-radius: 0 5px 0 0;
}

footer .e1{
    width: 50%;
}
footer .e2{
    width: 60%;
}
footer .e3{
    width: 70%;
}
footer .e4{
    width: 80%;
}
footer .e5{
    width: 90%;
}
footer .e6{
    width: 100%;
}

footer a:hover{
    color: #ffecb3 !important;
}