.inicioCartas div{
    height: 30px;
}


/* PRUEBA */    
.slider-wrapper {
    overflow: hidden;
    margin: 0 0px 35px;
    padding: 0 70px;
  }
  .card-list .card-item {
    color: #fff;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .card-list .card-item img {
    width: 100%;
    height: auto;
    padding: 4px;
  }
  .card-list .card-item p {
    color: black;
  }
  .slider-wrapper .swiper-pagination-bullet {
    background: #000000;
    height: 13px;
    width: 13px;
    opacity: 0.5;
  }
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .slider-wrapper .swiper-slide-button {
    color: #000;
    /*background-color: #0000007c;*/
    height: 100%;
    margin: 0;
    top: 0;
    transition: 0.2s ease;
  }
  .slider-wrapper .swiper-button-prev {
    left: 0;
  }
  .slider-wrapper .swiper-button-next {
    right: 0;
  }
  .slider-wrapper .swiper-slide-button:hover {
    color: #9c2227;
  }
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button {
      display: none;
    }
  }