*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

html{
    min-width: 300px !important;
}

body{
    background-image: url(../images/img/fondoDesenfocado.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    min-height: 100vh;
  }

nav{
    background-color: #9c2227;
}

img.arrow {
    transform: none;
    transition: transform 0.5s ease;
}

nav input{
    min-width: 10px !important;
}

nav button[aria-expanded="true"] img.arrow {
    transform: rotate(-180deg);
}

.collapse{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

#enlaces{
    flex-grow: 1;
}

.enlaceArea{
    text-decoration: none;
    color: black;
    padding: 20px 0;
    font-weight: bold;
    font-size:  1.2rem;
    transition: letter-spacing  0.5s;
}

.enlaceArea img{
    padding-top: 5px;
    width: 50px;
    transition: 0.5s;
}

.enlaceArea:hover{
    letter-spacing: 0.2rem;
    transition: letter-spacing 0.5s;
}

.enlaceArea:hover img{
    width: 55px;
    padding-top: 0px;
    transition: 0.5s;
}

.enlaceArea a{
    color: black;
    text-decoration: none;
}

#enlaces .row {
    margin-left: 0;
    margin-right: 0;
}

#enlaces .col {
    padding-left: 0;
    padding-right: 0;
}

.e1{
    background-color: #13dadd;
}
.e2{
    background-color: #a6eed6;
}
.e3{
    background-color: #ffecb3;
}
.e4{
    background-color: #f8bf7e;
}
.e5{
    background-color: #FF9C38;
}
.e6{
    background-color: #F88000;
}

/* Estilo para el buscador en pantallas grandes (predeterminado) */
#nav {
    display: flex;
}
/* Estilo del contenedor de sugerencias */
.suggestions {
    top: 30px;
    position: absolute;
    width: 100%;
    max-height: 300px;
    border: 1px solid #ddd;
    background-color: #fff;
    overflow-y: auto;
    display: none; /* Oculto por defecto */
    z-index: 1000;
  }
  
  .suggestions div {
    padding: 5px;
    cursor: pointer;
  }
  
  /* Sugerencias al pasar el cursor */
  .suggestions div:hover {
    background-color: #f0f0f0;
  }

  .overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro semi-transparente */
    z-index: 999; /* Asegura que quede sobre otros elementos */
  }

    .guiaAncho{
        max-width: 600px !important;
    }

@media (max-width: 992px){
    .suggestions {
      width: 150%;
      transform: translateX(-25%);
    }
  }
/* Estilos específicos para pantallas pequeñas */
@media (max-width: 576px) {
    #nav {
        flex-direction: row;         /* Mantén en una sola fila en pantallas pequeñas */
        width: 100%;                 /* Ocupa todo el ancho */
        margin-top: 1rem;            /* Añade margen superior si es necesario */
        order: 3;
        margin-top: 0;
        margin-bottom: 10px;            /* Asegura que el input ocupe el ancho disponible */
    }
    #buscador {
        flex-grow: 1;    
    }
    .suggestions {
        width: 100%;
        transform: translateX(0);
      }
    .enlaceArea{
        font-size:  0.85rem;
    }
    .enlaceArea:hover{
        letter-spacing: 0rem;
    }
}