*{
    padding: 0;
    margin: 0;
}

html{
    min-width: 750px !important;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

#contenido{
    width: 100%;
}

.active{
    font-weight: bold !important;
}

.desactualizado{
    position: fixed;
    bottom: 0;
    color: white;
    background: #dc3545;
    width: 100%;
    text-align: center;
    z-index: 500;
}

.cargarDesactualizado{
    background: transparent;
    border: 0;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.cargarDesactualizado:hover{
    color: rgb(235, 235, 235);
}
.buscador{
    max-width: 500px;
}
.buscador select:focus, .buscador input:focus, #opciones:focus{
    outline: none !important;
    box-shadow: none !important;
}
.buscador select{
 width: auto;
}
.buscador select:hover{
 cursor: pointer;
 background: #f7f7f7;
}

#agregarScroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 500;
}

tbody tr{
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
}
tbody tr:hover{
    background-color: rgb(230, 230, 230);
}
tbody td{
    font-size: 0.9rem;
    background-color: transparent !important;
}
tbody td input{
    font-size: 0.9rem !important;
}

#opciones{
    border: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
}

#menuDesplegable{
    width: 150px;
}

.remove {
    transform: translateX(-100%);
    background: #dc3545;
    transition: transform 1s ease;
}
.editado{
    background: #198754;
}
.editando{
    background: #a0b0f9;
}
.editando:hover{
    background: #91a0e2 !important;
}










.menu-desplegable {
    position: absolute;
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 130px;
}

.menu-desplegable ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-desplegable ul li {
    padding: 8px 12px;
    cursor: pointer;
}
