body{
    min-width: 270px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   }
 main{
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
 }

main .btn{
    background-color: #9c2227;
    font-size: 16px;
}

main .btn:hover{
    background-color: #891c20;
}

.main form-control{
    border-color: rgba(128, 128, 128, 0.781);
}

main .form-control:focus {
    border-color: #9c2227   ;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

main #togglePassword{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-45%)
}