<!-- Cambiar a HTML/JSON -->

<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h2>Productos en carrito</h2>
    <div class="container">
        <table border="1" border-color = "black">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            
            <tbody id="generarTabla">
                
            </tbody>
           
        </table>
        
        <script src="resources/js/script.js"></script>
    </div>

    </body>
    </html>
    



