<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito</title>
        <link rel="stylesheet" href="resources/css/styleCarrito.css" type="text/css" />
    </head>
    <body>
        <div class=""titulo">
            <h2>Productos en carrito</h2>
        </div>
        
    <div class="container">
        
        <table class="tablaCarrito">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Precio Total</th>
            </tr>
            <tr>
                <tbody id="generarTabla">
                </tbody>
            </tr>
        </table>

        <table>
            <tr>
                <tbody id="botonComprar">
                </tbody>
            </tr>
        </table>
        
        <script src="resources/js/script.js"></script>
    </div>

    </body>
    </html>
    



