<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito</title>
        <link rel="stylesheet" href="resources/css/styleCarrito.css" type="text/css" />
    </head>
    <body>
        <div class=""titulo">
            <h2>Productos en carrito</h2>
        </div>
        
    <div class="container">
        
        <table class="tablaCarrito">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio/unidad</th>
                <th>Precio Total</th>
                <th>Coste del envío</th>
            </tr>
            <tr>
                <tbody id="generarTabla">
                </tbody>
            </tr>
           
        </table>

        <div class="resumen">
            <h3>Resumen de la Compra</h3>
            <p id="precioProductos">Total de productos: </p>
            <p id="costeEnvio">Coste de envío: </p>
            <p id="totalFinal">Total general: </p>
            <div id="botonComprar"></div>
        </div>
        
        <script src="resources/js/script.js"></script>
    </div>

    </body>
    </html>
    



